 <section class="content-header">
      <h1>
       New Template
        <small><%= @app_name %></small>
      </h1>
      <ol class="breadcrumb">
        <li><%= link_to admin_path do %><i class="fa fa-dashboard"></i>Dashboard<% end %></li>
        <li><%= link_to templates_path do %>Templates</li><% end %>
        <li class="active">New Template</li>
      </ol>
    </section>

<div class="col-lg-12 col-xs-12">
<%= render 'form' %>
</div>
