    <!-- Map box -->
          <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
              <!-- tools box -->
              <div class="pull-right box-tools">
                            <div class="btn-group">
                  <button type="button" class="btn btn-primary pull-right btn-sm dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bars"></i></button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="https://twitter.com/intent/tweet?text=Type Tweet Here&url=none">Post a New Tweet</a></li>
                    <li><a href="http://analytics.twitter.com">Open Anayltics</a></li>
                    <li class="divider"></li>
                    <li><a href="http://www.twitter.com">Go To Twitter.com</a></li>
                  </ul>
                </div>
                <i>&nbsp;</i>
                <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
                  <i class="fa fa-minus"></i></button>
                  

                
              </div>
              
             
              <!-- /. tools -->

              <i class="fa fa-twitter"></i>

              <h3 class="box-title">
                Twitter
              </h3>
            </div>
            <div class="box-body">
                           <a class="twitter-timeline"  href="https://twitter.com/TheStickyNoteEd" data-widget-id="738856099261128705">Tweets by @TheStickyNoteEd</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
              <div id="world-map" style="height: 250px; width: 100%;"></div>
             
            </div>
            <!-- /.box-body-->
           
                <!-- ./col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.box -->