    <!-- Custom tabs (Charts with tabs)-->
          <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#views-chart" data-toggle="tab">Homepage</a></li>
              <li><a href="#post-views-chart" data-toggle="tab">Posts</a></li>
              <li class="pull-left header"><i class="fa fa-graph"></i>All Time Views</li>
            </ul>
            <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="views-chart" style="position: relative; height: 300px;"></div>
              <div class="chart tab-pane" id="post-views-chart" style="position: relative; height: 300px;"></div>
            </div>
          </div>
          <!-- /.nav-tabs-custom -->
          
          