  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Thumbtack Version</b> 0.0.1 <br/>
      <b>AdminLTE Version</b> 2.3.3
    </div>
    <strong>Thumtack Copyright &copy; 2016 <a href="http://www.thestickynote.com">The StickyNote</a> and <a href="mailto:agentspyname@gmail.com">Alexander Parsan.</a></strong>Some rights reserved.<br/>
    <strong>AdminLTE Theme Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
    reserved.
  </footer>